:root {
  --color1: #efefef;
  --color2: #66c05d;
  --color3: #333333;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color1);
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--color3);
}
ul li {
  list-style-type: none;
}
.line {
  width: 100%;
  height: 1px;
  background-color: var(--color1);
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

/* TOP LINE */
.top-line {
  width: 100%;
  height: 50px;
  background-color: var(--color1);
}
.top-line__menu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-line__menu li {
  margin-right: 30px;
}
.top-line__menu li:nth-last-child(1) {
  margin-right: 0;
}
.top-line__menu li a {
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.top-line__menu li a:hover {
  color: var(--color2);
}

/* SECOND LINE */
.second-line {
  width: 100%;
  height: 120px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.second-line__header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-line__header-logo {
  margin: 0 auto 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.second-line__header-logo img {
  width: 80px;
  height: 80px;
}
.second-line__header-logo_text {
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--color2);
  margin-left: 18px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.second-line__header-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.second-line__header-phone-number {
  margin-right: 40px;
}
.second-line__header-btn a {
  padding: 12px 26px 13px 27px;
  font-size: 14px;
  border-radius: 40px;
  border: 2px solid var(--color2);
  transition: all 0.3s ease-in-out;
}
.second-line__header-btn a:hover {
  background-color: var(--color2);
  color: #efefef;
}

/* SECOND LINE MAIN MENU */
.second-line__main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background-color: #fff;
}
.second-line__main-menu li {
  margin-right: 40px;
}
.second-line__main-menu li:last-child {
  margin-right: 0px;
}
.second-line__main-menu li a {
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.second-line__main-menu li a:hover {
  color: var(--color2);
}

/* SALE */
.sale {
  width: 100%;
  height: 602px;
  background-image: url(/img/creslo.png);
  background-repeat: no-repeat;
}
/* SALE IN GPOUP */
.group {
  width: 100%;
  height: 602px;
  display: flex;
  align-items: center;
}
.group-wrapper h1 {
  font-weight: bold;
  font-size: 48px;
  color: #fff;
}
.group-wrapper p {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin: 50px 0;
}
.group-wrapper a {
  display: inline-block;
  width: 170px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}
.group-wrapper a:hover {
  background-color: #fff;
  color: var(--color2);
}

/* goods */
.goods {
  margin: 80px 0 100px;
}
.goods-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 38px;
}
.goods-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goods-item {
  width: 23%;
  background-color: #fff;
  text-align: center;
}
.goods-item img {
  margin: 25px 0 0;
}
.goods-item-title {
  margin: 20px 0;
  font-size: 14px;
  line-height: 1.4;
  padding: 0 30px;
}
.goods-item-price {
  margin: 20px 0;
  font-size: 21px;
  font-weight: 500;
}
.goods-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 35px;
  margin: 0 auto 25px auto;
  color: #fff;
  background-color: var(--color2);
  border-radius: 30px;
  border: 1px solid var(--color2);
  transition: all 0.3s ease-in-out;
}
.goods-item a:hover {
  background-color: #fff;
  color: var(--color2);
}

/* subs and our shop section */
.subs-and-our {
  margin-bottom: 132px;
}
.subs-and-our__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* subscribe */
.subscribe {
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 45px 35px 40px;
  background-color: var(--color2);
}
.subscribe-info h1 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.subscribe-info p {
  margin: 25px 0;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
}
.subscribe-info input {
  padding: 9px 25px;
  outline: none;
  border: none;
  border-radius: 30px;
}

/* our shop */
.our-shop {
  width: 48%;
  padding: 35px 45px 35px 40px;
  background-color: var(--color2);
  color: #fff;
}
.our-shop h1 {
  font-size: 18px;
  font-weight: 700;
}
.our-shop p {
  margin: 25px 0;
  line-height: 1.4;
  font-size: 14px;
}
.our-shop a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 35px;
  color: #fff;
  border-radius: 30px;
  border: 2px solid #fff;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.our-shop a:hover {
  background-color: #fff;
  color: var(--color2);
}

/* footer */
.footer {
  width: 100%;
  height: 120px;
  background-color: #fff;
}
/* footer SMM */
.footer-smm {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social-media {
  display: flex;
}
.footer-social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid var(--color2);
  color: var(--color2);
  margin-right: 20px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.footer-social-media a:last-child {
  margin-right: 0;
}
.footer-social-media a:hover {
  background-color: var(--color2);
  color: #fff;
}
.footer-center-text {
  font-size: 14px;
}
.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-btn p {
  margin-right: 40px;
}
.footer-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  font-size: 14px;
  border-radius: 40px;
  border: 2px solid var(--color2);
  transition: all 0.3s ease-in-out;
}
.footer-btn a:hover{
  background-color: var(--color2);
  color: #fff;
}
/* footer buttom */
.footer-buttom{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #828282;
}

/* MEDIA */
/* @media only screen and (max-width: 600px) {
  .second-line__header {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .second-line__header-logo{
    margin: 0 auto;
    padding: 30px 0;

  }
  .second-line__header-text{
    margin: 0 auto;
  }
} */
